/* estilos de navbar */

.navbar {
    background-color: #f7f6f5;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}


/*estilos hero*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    justify-content: center;
}

.hero {
    background-color: #f7f6f7;
    min-height: 450px;
}

.dev-img {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
    border: solid 5px royalblue;
}

.main-hero h2 {
    font-size: 1.5rem;
    font-family: 'Arvo', serif;
}


/* responsivo */

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .sec-hero-img {
        max-width: 600px;
    }
}


}