/*estilos generales*/

.sect-title {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descrip {
    font-size: 1.2 rem;
    color: #584e4e;
}

.badges-contenedor {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges {
    margin: 5px;
}

.paragrp {
    font-size: 1.2rem;
    padding: 15px 0;
}

.dark-sect {
    color: white;
    background-color: #1b1b32;
}

.lg-sect {
    color: black;
    background-color: white;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}


/***********************************************/


/* estilos de navbar */

.navbar {
    background-color: #f7f6f5;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}


/*estilos hero*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    justify-content: center;
}

.hero {
    background-color: #f7f6f7;
    min-height: 450px;
}

.dev-img {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
    border: solid 5px royalblue;
}

.main-hero h2 {
    font-size: 1.5rem;
    font-family: 'Arvo', serif;
}


/*conoceme*/

.conoceme {
    height: 600px;
    padding: 10px;
}

.conoceme .wrap {
    max-width: 510px;
    text-align: center;
}

p a {
    text-decoration: none;
}

p a:hover {
    color: rgb(235, 79, 32);
}

.expert {
    padding: 40px 40px 60px 40px;
}

.exp-titl {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.expert i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}


/*proyectos*/

.proyect {
    padding: 40px;
}

.proyecto img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyecto {
    padding-top: 60px;
    margin-bottom: 40px;
}


/*
.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}
*/


/* responsivo */

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .sec-hero-img {
        max-width: 600px;
    }
}